* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Montserrat', serif;
}
#myCanvas {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
}
h1 {
margin-bottom: 30px;
}
h1, h3, h4 {
font-family: 'Fugaz One', serif;
}
h3 {
font-size: 20px;
}
#container {
margin: 30px 10%;
}
.my-textbox {
width: calc(100% - 110px);
padding: 4px 10px;
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;
border: 1px solid;
vertical-align: middle;
box-shadow: 5px 5px black;
}
.my-textbox:focus {
outline-width: 0;
}
#m {
border-radius: 0;
}
#username {
width: calc(100% - 60px);
}
.my-input-group {
width:100%;
margin: 0 auto;
}
.my-input-group button {
width: 60px;
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;
border: 1px solid;
background-color: white;
padding: 4px 5px;
margin-left: -5px;
vertical-align: middle;
box-shadow: 5px 5px black;
}
.my-input-group button:focus {
outline-width: 0;
}

.color-picker {
width: 50px;
height: 26px;
border: 1px solid;
background-color: white;
padding: 0 4px 0 7px;
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;
margin-right: -6px;
vertical-align: middle;
box-shadow: 5px 5px black;
}
.color-picker:focus {
outline-width: 0;
}

.my-input-group select {
width: 5%;
}
.my-input-group select:focus {
outline-width: 0;
}
option:active, option:hover {

box-shadow: 0 0 10px 100px #000 inset;
}
.content-box-bg {
background-color: white;
border-bottom: 1px solid;
min-height: 3em;
}
.content-box {
display: block;
min-width: 25%;
padding: 0;
border: 1px solid;
border-radius: 15px;
margin: 20px 0 20px auto;

position: absolute;
    left: 65%;
    top: 0px;
    z-index: -1;

box-shadow: 5px 5px black;
}

.content-box h3 {
padding: 9px 12px;
border-bottom: 1px solid;
margin: 0;
color: white;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.42+0,0.76+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0.04) 0%, rgba(0,0,0,0.59) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.04) 0%,rgba(0,0,0,0.59) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0.04) 0%,rgba(0,0,0,0.59) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b000000', endColorstr='#c2000000',GradientType=0 ); /* IE6-9 */

}
.content-box h3:first-child {
border-top-left-radius: 14px;
border-top-right-radius: 14px;
}
.content-box ul {
background-color: white;
text-decoration: none;
margin-bottom: 0;
padding-bottom: 5px;
}
.content-box ul:not(:last-child) {
border-bottom: 1px solid;
}
.content-box ul:last-child {
border-bottom-left-radius: 14px;
border-bottom-right-radius: 14px;
}
.content-box li {
list-style-type: none;
padding: 7px 10px;
}
#color-stats {
display: inline-block;
padding: 5px;
}
#color-stats li {
display: inline-block;
text-align: center;
font-weight: bold;
width: 30px;
height: 30px;
padding: 5px;
border-radius: 100%;
margin: 4px 3px;
}

@media screen and (max-width: 700px) {
  .content-box {
    position: relative;
    z-index: 0;
    left:auto;
    min-width: 60%;
  }
}
